[MASTER]

# Specify the maximum line length
max-line-length = 120

# Enable/disable certain pylint checks
disable = missing-docstring, invalid-name, unused-import

[MESSAGES CONTROL]

# Enable/disable certain pylint messages
#disable = C0114, C0115, C0116, C0103, C0303, C0411, C0413
